<!DOCTYPE html>
<html lang="en">
<head>
    <title>Adicionar Tarefa</title>
    <!-- angular js -->
    <script src="js/angular/angular.min.js"></script>
    <!-- jquery -->
    <script src="css/jquery-3.2.1.min.js"></script>
    
    <!-- controller -->
    <script src="js/controllers/tarefas.js"></script>
    
    <!--bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" 
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>

<body ng-app="myAppA" ng-controller="ctrlTarefas" class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar">a</span>
                <span class="icon-bar">b</span>
                <span class="icon-bar">c</span>
              </button>
              <a class="navbar-brand" href="#">Task Manager</a>
            </div>
          </div>
        </nav>
        <!--menu lateral-->
        <div class="col-md-2">
            <br><br><br>
            <p>Navegação Prinpical</p>
            <ul class="nav nav-pills nav-stacked">
              <li role="presentation"><a href="inicio.html">Tarefas</a></li>
              <li role="presentation" class="active"><a href="adicionarTarefa.html">Adicionar Tarefa</a></li>
            </ul>
        </div>
        <!--body-->
        <div class="col-md-10">
            <br><br><br>
            <div class="col-lg-12">
              <h3>Adicionar tarefa</h3>
              <div class="thumbnail col-lg-12">
                  <p ng-show="erro" class="alert alert-danger">{{erro}}</p> <!-- mensagem de alerta -->
                  <p ng-show="sucesso" class="alert alert-success">{{sucesso}}</p> <!-- mensagem de alerta -->
                  <!-- formulario de cadastro -->
                  <div class="row">
                      <div class="col-md-12">
                          <form ng-submit="salvarTarefa()">
                              <div class="form-group col-lg-8">
                                  Titulo:<input class="form-control" ng-model="titulo"/>
                              </div>
                              <div class="form-group col-lg-2">
                                  Prazo:<input class="form-control" type="date" ng-model="prazo" value="09-02-2014">
                              </div>
                              <div class="form-group col-lg-8">
                                  Descrição:<textarea class="form-control" ng-model="descricao" name="descricao" rows="8"></textarea>
                              </div>
                              <div class="form-group col-lg-1">
                                  Prioridade:<input class="form-control" type="number" min="1" max="5" ng-model="prioridade" name="prioridade">
                              </div>
                              <div class="form-group col-lg-12">
                                  <input class="btn btn-success" type="submit" value="Adicionar"/>
                                  <input class="btn btn-default" type="reset" value="Limpar"/>
                              </div>
                          </form>
                      </div>
                  </div>  
              </div>
            </div>
        </div>
    </div>
</body>
</html>